---
import HydraCanvasModule from "../components/HydraCanvasModule";
import * as oscilloscope from "../lib/hydra-patches/osc.js";

---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Boceto: oscilloscope</title>
  </head>
  <body>
    <HydraCanvasModule client:only="react" patchName={"osc"} />
  </body>
</html>
