---
import OscilloscopePage from "../components/OscilloscopePage";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>un osciloscopio</title>
  </head>
  <body>
    <OscilloscopePage client:only="react" />
  </body>
</html>
