---
import Main from "../layout/main-layout.astro";
import OscilloscopePage from "../components/pages/OscilloscopePage";
---

<Main title="osciloscopio">
  <OscilloscopePage client:only="react" />
</Main>
